{% extends "::layout.html.twig" %}

{% block body %}

<form action="{{ path("fos_user_security_check") }}" method="post">
  <div class="input">
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>
  
  <div class="input">
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />
  </div>
  
  <div class="input">
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
  </div>
  
  <div class="input-button">
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
  </div>
</form>
{% endblock body %}
